@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-bottom-50 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-bottom-20 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-top-50 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(-100%);
    background-color: $color-neon-blue;
  }

  100% {
    transform: translateX(0);
    background-color: $color-neon-blue;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(0);
    background-color: $color-neon-blue;
  }

  100% {
    transform: translateX(-100%);
    background-color: $color-neon-blue;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
