.preloader.animation-group.show
  .preloader__img.fib
    include ../../img/svg/logo-preloader.svg
  p.preloader__text.preloader__text--desktop.fi.d-300
      span.blink-ad-2 Нажмите на Enter
  p.preloader__text.preloader__text--tablet.fi.d-300
      span.blink-ad-2 Кликните на экран


